<header class="masthead">
  <div class="jumbotron">
    <!-- <h1>Ange jardin</h1> -->
    <!-- image 739x307 -->
    <img src="assets/images/logo-ange-jardin2.png" width="246" alt="">
  </div>
</header>

<nav class="navbar navbar-expand-lg navbar-custom">
  <a class="navbar-brand" style="padding-left: 1em; padding-top: 0.1em;" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="!this.authService.isLoggedIn" class="nav-link" routerLink="connexion">Connexion</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!this.authService.isLoggedIn" class="nav-link" routerLink="register">Nouvel utilisateur</a>
      </li>
      <li class="nav-item">
        <a *ngIf="this.authService.isLoggedIn" class="nav-link" routerLink="meteo">Météo</a>
      </li>
      <li class="nav-item">
        <a *ngIf="this.authService.isLoggedIn" class="nav-link" routerLink="aprevoir">A prévoir</a>
      </li>
      <li class="nav-item">
        <a *ngIf="this.authService.isLoggedIn" class="nav-link" routerLink="jardin">Jardin</a>
      </li>
      <li class="nav-item">
        <a *ngIf="this.authService.isLoggedIn" class="nav-link" routerLink="profile">Profil</a>
      </li>
      
    </ul>
    
    <ul class="navbar-nav ml-auto">
      <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button"
        class="btn ml-auto">Logout</button>
    </ul>
  </div>
</nav>