// .example-spacer {
//     flex: 1 1 auto;
//   }

header {
	height:150px;
  background-color:#ffffff;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}


.navbar-custom {
  background-color: #519A46;
  border-color: #519A46;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-link {
  color: #d8d8d8;
}

.navbar-custom .btn {
  color: #d8d8d8;
  border: 2px solid #d8d8d8;
}

.navbar-custom .btn:hover {
  color: white;
  border: 2px solid white;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-link:hover,
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus,
.navbar-custom .navbar-toggle,
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  color: #FFFFFF;
  background-color: #519A46;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #519A46;
  color: #d8d8d8;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #d8d8d8;
}

.navbar-custom .navbar-nav .open .dropdown-menu {
  background-color: #519A46;
  border-color: #519A46;
  color: #d8d8d8;
}
.navbar-custom .navbar-nav .open .dropdown-menu > li,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
  color: #d8d8d8;
}
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color: #519A46;
}

.navbar-custom .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-custom .navbar-toggler:hover {
  color: white;
  border-color: white;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-custom .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:160px;
    background-color:white
  }

.img {
    max-width: 100%;
    height: auto;
  }

  body, html {
    background-color:#EFF4ED 
  }