<div class="row">
    <!-- Affichage legumes souhaites -->
    <div class="col-sm-11 col-md-4 col-lg-4 mx-auto">
        <div class="card my-5">
            <div class="card-title">
                Legumes souhaités
            </div>
            <div class="card-body">
                <!-- Affichage liste legumes voulus par l'utilisateur -->

                <div *ngIf="!fairechoix">
                    <div *ngIf="jardinvide">
                        {{messagejardinvide}}
                    </div>
                    <div *ngIf="!jardinvide">
                        <ul>
                            <li style="margin-left:-1.2em;padding-left:-1.2em;" *ngFor="let leg of jardinuser.legumesvoulus">{{ leg }}</li>
                        </ul>
                    </div>
                </div>

                <div *ngIf="!fairechoix">
                    <button class="btn btn-block btn-dark" (click)="ListeVisible()">Choisir légumes</button>
                </div>

                <!-- Affichage choix legumes -->
                <div *ngIf="fairechoix">
                    <form [formGroup]="form">
                        <ul formArrayName="legumes">
                            <li style="margin-left:-2.2em;padding-left:-2.2em;list-style: none;" [formGroupName]="i"
                                *ngFor="let item of form.controls?.legumes?.controls; let i = index">
                                <input type="checkbox" formControlName="checked" /> {{legumes[i].name}}
                            </li>
                        </ul>
                        <button class="btn btn-block btn-dark" (click)="ChoixFait()">Valider choix</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Affichage legumes que l'on peut semer dans le mois  -->
    <div class="col-sm-11 col-md-4 col-lg-4 mx-auto">
        <div class="card my-5">
            <div class="card-title">
                Semis
            </div>
            <div class="card-body">

                <div *ngIf="!semischoix">
                    <div *ngIf="semisSAvide && semisSPvide">
                        {{messagepasdesemis}}
                    </div>
                    <!-- Affichage legumes que l'on peut semer sous abris dans le mois  -->
                    <div *ngIf="!semisSAvide">
                        <p>Vous pouvez semer les légumes suivants sous abris ce mois-ci (mois possibles de semis) :</p>

                        <ul>
                            <li style="margin-left:-1.2em;padding-left:-1.2em;" *ngFor="let leg of legumesduMoisaSemerSA">{{ leg.name }} ({{ leg.mois }})</li>
                        </ul>

                    </div>
                    <!-- Affichage legumes que l'on peut semer sur place dans le mois  -->
                    <div *ngIf="!semisSPvide">
                        Vous pouvez semer les légumes suivants sur place ce mois-ci (mois possibles de semis) :

                        <ul>
                            <li style="margin-left:-1.2em;padding-left:-1.2em;" *ngFor="let leg of legumesduMoisaSemerSP">{{ leg.name }} ({{ leg.mois }})</li>
                        </ul>
                    </div>

                    <button *ngIf="!(semisSAvide && semisSPvide)" class="btn btn-block btn-dark"
                        (click)="SemisFait()">J'ai semé des legumes</button>
                </div>

                <!-- Pour afficher la liste des légumes et cocher ceux qu'on a semé -->
                <div *ngIf="semischoix">
                    <!-- sous abris -->
                    <div *ngIf="!semisSAvide">
                        <form [formGroup]="semisSAForm">
                            Semis sous abris :
                            <ul formArrayName="legumessemissa">
                                <li style="margin-left:-2.2em;padding-left:-2.2em;list-style: none; padding: 0;" [formGroupName]="i"
                                    *ngFor="let item of semisSAForm.controls?.legumessemissa?.controls; let i = index">
                                    <input type="checkbox" formControlName="checked" />
                                    {{legumesduMoisaSemerSA[i].name}}
                                </li>
                            </ul>
                        </form>
                    </div>

                    <!-- sur place -->
                    <div *ngIf="!semisSPvide">
                        <form [formGroup]="semisSPForm">
                            Semis sur place :
                            <ul formArrayName="legumessemissp">
                                <li style="margin-left:-2.2em;padding-left:-2.2em;list-style: none;" [formGroupName]="i"
                                    *ngFor="let item of semisSPForm.controls?.legumessemissp?.controls; let i = index">
                                    <input type="checkbox" formControlName="checked" />
                                    {{legumesduMoisaSemerSP[i].name}}
                                </li>
                            </ul>

                        </form>
                    </div>
                    <button class="btn btn-block btn-dark" (click)="ChoixFaitSemis()">Valider choix</button>
                </div>

            </div>
        </div>

        <div class="card my-5">
            <div class="card-title">
                Plantation
            </div>
            <div class="card-body">

                <!-- Affichage legumes que l'on peut planter dans le mois  -->
                <div *ngIf="!plantchoix">
                    <div *ngIf="plantvide">
                        {{messagepasdeplant}}
                    </div>
                    <div *ngIf="!plantvide">
                        Vous pouvez planter les légumes suivants ce mois-ci (mois possibles de plantation) :
                        <ul>
                            <li style="margin-left:-1.2em;padding-left:-1.2em;" *ngFor="let leg of legumesduMoisaPlanter">{{ leg.name}} ({{ leg.mois }})</li>
                        </ul>

                    </div>
                    <button *ngIf="!(plantvide)" class="btn btn-block btn-dark" (click)="PlantFait()">J'ai planté des
                        legumes</button>
                </div>

                <!-- Pour afficher la liste des légumes et cocher ceux qu'on a planté -->
                <div *ngIf="plantchoix">
                    <form [formGroup]="plantForm">
                        <ul formArrayName="legumesplant">
                            <li style="margin-left:-2.2em;padding-left:-2.2em;list-style: none; padding: 0;" [formGroupName]="i"
                                *ngFor="let item of plantForm.controls?.legumesplant?.controls; let i = index">
                                <input type="checkbox" formControlName="checked" /> {{legumesduMoisaPlanter[i].name}}
                            </li>
                        </ul>
                        <button class="btn btn-block btn-dark" (click)="ChoixFaitPlant()">Valider choix</button>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!-- Affichage des legumes à arroser  -->
    <div class="col-sm-11 col-md-4 col-lg-4 mx-auto">
        <div class="card my-5">
            <div class="card-title">
                Arrosage
            </div>
            <div class="card-body">

                <div *ngIf="arrosagevide">
                    {{messagepasdarrosage}}
                </div>
                <div *ngIf="!arrosagevide">

                </div>

            </div>
        </div>
    </div>
</div>