// input.ng-invalid {
//     border-width: 1px;
//     border: red solid 1px;
// }

.is-valid  {
    border-left: 5px solid #42A948; /* green */
}
  
.is-invalid  {
    border-left: 5px solid #a94442; /* red */
}