<div class="row">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="card my-5">
            <div class="card-body">
                <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
                    <h3 class="h3 mb-3 font-weight-normal text-center">Inscrivez-vous</h3>
                    <div class="form-group">
                        <!-- <label>Nom d'utilisateur</label> -->
                        <input [class.is-invalid] = "signupForm.get('username').invalid && signupForm.get('username').touched" 
                        [class.is-valid] = "signupForm.get('username').valid && signupForm.get('username').touched"
                        type="text" class="form-control" formControlName="username"
                            placeholder="Nom d'utilisateur*" required minlength="6"> 
                    </div>
                    <div class="form-group">
                        <!-- <label>Mot de passe</label> -->
                        <input [class.is-invalid] = "signupForm.get('password').invalid && signupForm.get('password').touched" 
                        [class.is-valid] = "signupForm.get('password').valid && signupForm.get('password').touched"
                         type="password" class="form-control" formControlName="password"
                            placeholder="Mot de passe*" required minlength="6">
                    </div>
                    <div class="form-group">
                        <!-- <label>Mot de passe</label> -->
                        <input [class.is-invalid] = "(signupForm.get('password2').invalid && signupForm.get('password2').touched) || (signupForm.errors?.passwordsNotEqual && signupForm.get('password2').touched)" 
                        [class.is-valid] = "signupForm.get('password2').valid && signupForm.get('password2').touched"
                         type="password" class="form-control" formControlName="password2"
                            placeholder="Confirmer mot de passe*" required minlength="6">
                    </div>
                    <div class="form-group">
                        <!-- <label>Prénom</label> -->
                        <input [class.is-invalid] = "signupForm.get('firstname').invalid && signupForm.get('firstname').touched" 
                        [class.is-valid] = "signupForm.get('firstname').valid && signupForm.get('firstname').touched"
                         type="text" class="form-control" formControlName="firstname" placeholder="Prénom*"
                            required minlength="2">
                    </div>
                    <div class="form-group">
                        <!-- <label>Nom</label> -->
                        <input [class.is-invalid] = "signupForm.get('lastname').invalid && signupForm.get('lastname').touched" 
                        [class.is-valid] = "signupForm.get('lastname').valid && signupForm.get('lastname').touched"
                         type="text" class="form-control" formControlName="lastname" placeholder="Nom*" required minlength="2">
                    </div>
                    <div class="form-group">
                        <!-- <label>E-mail</label> -->
                        <input [class.is-invalid] = "signupForm.get('email').invalid && signupForm.get('email').touched" 
                        [class.is-valid] = "signupForm.get('email').valid && signupForm.get('email').touched"
                         type="email" class="form-control" formControlName="email" placeholder="E-mail*" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$">
                    </div>
                    <div class="form-group">
                        <!-- <label>Date de naissance</label> -->
                        <input [class.is-invalid] = "signupForm.get('birthday').invalid && signupForm.get('birthday').touched" 
                        [class.is-valid] = "signupForm.get('birthday').valid && signupForm.get('birthday').touched"
                         type="text" class="form-control" formControlName="birthday"
                            placeholder="Date de naissance" bsDatepicker required>
                    </div>
                    <div class="form-group">
                        <!-- <label>Code Postal</label> -->
                        <input [class.is-invalid] = "signupForm.get('codepostal').invalid && signupForm.get('codepostal').touched" 
                        [class.is-valid] = "signupForm.get('codepostal').valid && signupForm.get('codepostal').touched"
                         type="text" class="form-control" formControlName="codepostal" placeholder="Code Postal*"
                            (ngModelChange)="codePostChange($event)" required minlength="5">
                    </div>
                    <div class="form-group">
                        <!-- <label>Ville</label> -->
                        <select [class.is-invalid] = "signupForm.get('ville').invalid && signupForm.get('ville').touched" 
                        [class.is-valid] = "signupForm.get('ville').valid && signupForm.get('ville').touched"
                         id="ville" class="form-control" formControlName="ville" #ville (change)="villeChange()" required minlength="5">
                            <option *ngFor="let villebcl of jsonvilles" [ngValue]="villebcl">{{villebcl}}</option>
                        </select>
                    </div>
                    <div class="form-group form-check">
                        <input (change)="changeCheck($event)" type="checkbox" formControlName="mentions" id="mentions" class="form-check-input"/>
                        <label class="form-check-label">J'accepte les <a href="mentions" target="_blank"> Mentions légales</a> *</label>
                    </div>
                    * requis
                    <button type="submit" class="btn btn-block btn-dark" [disabled]="!signupForm.valid || !mentionOK">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>
</div>