<div class="row">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="card my-5">
            <div class="card-body">
                <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
                    <h3 class="h3 mb-3 font-weight-normal text-center">Connectez vous</h3>
                    <div class="form-group">
                        <!-- <label>Nom d'utilisateur</label> -->
                        <input type="username" class="form-control" formControlName="username"
                            placeholder="Nom d'utilisateur" required>
                    </div>
                    <div class="form-group">
                        <!-- <label>Mot de passe</label> -->
                        <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe">
                    </div>
                    <button type="submit" class="btn btn-block btn-dark">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</div>