<div class="row">

    <div class="col-sm-11 col-md-9 col-lg-7 mx-auto">
        <div class="card my-5">
            <div class="card-title">
                Mon jardin
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-sm-11 col-md-8 col-lg-8 mx-auto">
                        <div class="row" >
                            <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
                                <img src="assets/images/semissa.png">
                                <h5>Semis sous abris :</h5>
                                <div *ngIf="semisSAvide">
                                    {{messagepasdesemissa}}
                                </div>
                                <ul>
                                    <li style="margin-left:-1.2em;padding-left:-1.2em;"
                                        *ngFor="let leg of jardinuser.legumessemessa">{{ leg }}</li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
                                <img src="assets/images/semissp.png">
                                <h5>Semis sur place :</h5>
                                <div *ngIf="semisSPvide">
                                    {{messagepasdesemissp}}
                                </div>
                                <ul>
                                    <li style="margin-left:-1.2em;padding-left:-1.2em;"
                                        *ngFor="let leg of jardinuser.legumessemessp">{{ leg }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-11 col-md-4 col-lg-4 mx-auto">   
                        <img src="assets/images/plantation.png">   
                        <h5>Plantations :</h5>
                        <div *ngIf="plantvide">
                            {{messagepasdeplant}}
                        </div>                                       
                        <div *ngIf="!plantvide">
                            <ul>
                                <li style="margin-left:-1.2em;padding-left:-1.2em;"
                                    *ngFor="let leg of jardinuser.legumesplantes">{{ leg }}</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
