<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card my-5">
            <div class="card-body" *ngIf="!afficherChgtMDP && !afficherChgtInfos">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">Nom d'utilisateur :</div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">{{user.username}}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">Prénom :</div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">{{user.firstname}}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">Nom :</div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">{{user.lastname}}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">Date d'anniversaire :</div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">{{user.birthday}}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">E-mail :</div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">{{user.email}}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">Code postal :</div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">{{user.codepostal}}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">Ville :</div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">{{user.ville}}</div>
                </div>
                <br>
                <div class="row">
                    <button (click)="AffichageModifierMDP()" class="btn btn-block btn-dark">Modifier mon mot de
                        passe</button>
                    <button (click)="AffichageModifierInfos()" class="btn btn-block btn-dark">Modifier mes
                        informations</button>
                    <button (click)="SupprimerCompte()" class="btn btn-block btn-dark">Supprimer mon compte</button>
                </div>
            </div>


            <div class="card-body" *ngIf="afficherChgtMDP">
                <form class="form-mdp" [formGroup]="mdpForm">
                    <h3 class="h3 mb-3 font-weight-normal text-center">Modifiez votre mot de passe</h3>
                    <div class="form-group">
                        <!-- <label>Mot de passe</label> -->
                        <input [class.is-invalid]="mdpForm.get('password').invalid && mdpForm.get('password').touched"
                            [class.is-valid]="mdpForm.get('password').valid && mdpForm.get('password').touched"
                            type="password" class="form-control" formControlName="password" placeholder="Mot de passe*"
                            required minlength="6">
                    </div>
                    <div class="form-group">
                        <!-- <label>Mot de passe</label> -->
                        <input
                            [class.is-invalid]="(mdpForm.get('password2').invalid && mdpForm.get('password2').touched) || (mdpForm.errors?.passwordsNotEqual && mdpForm.get('password2').touched)"
                            [class.is-valid]="mdpForm.get('password2').valid && mdpForm.get('password2').touched"
                            type="password" class="form-control" formControlName="password2"
                            placeholder="Confirmer mot de passe*" required minlength="6">
                    </div>
                    <button type="submit" class="btn btn-block btn-dark" [disabled]="!mdpForm.valid"
                        (click)="ModifierMDP()">Valider nouveau mot de passe</button>
                    <button type="submit" class="btn btn-block btn-dark" (click)="AnnulerModifierMDP()">Annuler</button>
                </form>
            </div>




            <div class="card-body" *ngIf="afficherChgtInfos">
                <form class="form-infos" [formGroup]="infosForm">
                    <h3 class="h3 mb-3 font-weight-normal text-center">Modifier vos informations</h3>
                    <div class="form-group">
                        <!-- <label>Nom d'utilisateur</label> -->
                        <input
                            [class.is-invalid]="infosForm.get('username').invalid && infosForm.get('username').change"
                            [class.is-valid]="infosForm.get('username').valid" type="text" class="form-control"
                            formControlName="username" required minlength="6">
                    </div>
                    <div class="form-group">
                        <!-- <label>Prénom</label> -->
                        <input
                            [class.is-invalid]="infosForm.get('firstname').invalid && infosForm.get('firstname').change"
                            [class.is-valid]="infosForm.get('firstname').valid" type="text" class="form-control"
                            formControlName="firstname" required minlength="2">
                    </div>
                    <div class="form-group">
                        <!-- <label>Nom</label> -->
                        <input
                            [class.is-invalid]="infosForm.get('lastname').invalid && infosForm.get('lastname').change"
                            [class.is-valid]="infosForm.get('lastname').valid" type="text" class="form-control"
                            formControlName="lastname" required minlength="2">
                    </div>
                    <div class="form-group">
                        <!-- <label>E-mail</label> -->
                        <input [class.is-invalid]="infosForm.get('email').invalid && infosForm.get('email').change"
                            [class.is-valid]="infosForm.get('email').valid" type="email" class="form-control"
                            formControlName="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$">
                    </div>
                    <div class="form-group">
                        <!-- <label>Date de naissance</label> -->
                        <input
                            [class.is-invalid]="infosForm.get('birthday').invalid && infosForm.get('birthday').change"
                            [class.is-valid]="infosForm.get('birthday').valid" type="text" class="form-control"
                            formControlName="birthday" bsDatepicker required>
                    </div>
                    <div class="form-group">
                        <!-- <label>Code Postal</label> -->
                        <input
                            [class.is-invalid]="infosForm.get('codepostal').invalid && infosForm.get('codepostal').change"
                            [class.is-valid]="infosForm.get('codepostal').valid" type="text" class="form-control"
                            formControlName="codepostal" (ngModelChange)="codePostChange($event)" required
                            minlength="5">
                    </div>
                    <div class="form-group">
                        <!-- <label>Ville</label> -->
                        <select [class.is-invalid]="infosForm.get('ville').invalid && infosForm.get('ville').change"
                            [class.is-valid]="infosForm.get('ville').valid" id="ville"
                            class="form-control" formControlName="ville"
                            (change)="villeChange()" required minlength="5">
                            <option *ngFor="let villebcl of jsonvilles" [ngValue]="villebcl">{{villebcl}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-block btn-dark" (click)="ModifierInfos()"
                        [disabled]="!infosForm.valid">Modifier les informations</button>
                    <button type="submit" class="btn btn-block btn-dark"
                        (click)="AnnulerModifierInfos()">Annuler</button>
                </form>
            </div>



        </div>
    </div>
</div>