/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

footer {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;

    border-top: 1px solid #efefef;
    background-color: white;

    padding: 10px 24px;
  }


  .card {
    margin-bottom: 0rem;
    border: 1;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card .card-title {
    margin-bottom: 0rem;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .card .card-body {
    padding: 2rem;
  }

  .btn{
    background-color: #519A46;
    border: none;    
  }

  body {
    background-color:#EFF4ED 
  }


  