<div class="row">
    <div class="col-sm-11 col-md-9 col-lg-7 mx-auto">
        <div class="card my-5">
            <div *ngIf="displayvent || displaygel" class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 mx-auto">
                        <img src="assets/images/attention.png">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
                        <div> Attention aujourd'hui risque de :</div>
                        <ul> 
                            <li *ngIf="displayvent">vent fort :</li> 
                            <ul *ngIf="displayvent"> 
                                <li>Probabilité de vent de plus de 70 km/h : <b>{{meteoprobawind70}}</b> %</li> 
                                <li>Probabilité de vent de plus de 100 km/h : <b>{{meteoprobawind100}}</b> %</li> 
                            </ul>
                            <li *ngIf="displaygel">gel : Probabilité de gel : <b>{{meteoprobagel}}</b> %</li> 
                        </ul>
                        
                    </div>
                </div>
            </div>
            <hr  *ngIf="displayvent || displaygel">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 mx-auto">
                        <img src="assets/images/pluie.png">
                    </div>                  
                    <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
                        <div>Cumul de pluie prévue aujourd'hui : <b>{{pluiejour | number : '1.2-2'}}</b> mL</div>
                    <br>
                        <div class="chart-wrapper">
                            <canvas baseChart 
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            [colors]="barChartColors">
                          </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 mx-auto">
                        <img src="assets/images/vent.png">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
                        <div>Vent moyen à 10 mètres : <b>{{meteoventvitesse}}</b> km/h</div>
                        <div>Rafales de vent à 10 mètres : <b>{{meteoventrafales}}</b> km/h</div>
                        <div>Direction du vent en degrés : <b>{{meteoventdirection}}</b>°</div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 mx-auto">
                        <img src="assets/images/soleil.png">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
                        <div>Ensoleillement en heures : <b>{{meteosoleil}}</b> h</div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 mx-auto">
                        <img src="assets/images/temperature.png">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
                        <div>Température minimale : <b>{{meteotempmin}}</b> °C</div>
                        <div>Température maximale : <b>{{meteotempmax}}</b> °C</div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>