<div class="row">
    <div class="col-sm-7 col-md-6 col-lg-5 mx-auto">
        <div class="card my-5">
            <div class="card-body">
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto col-center">
                        <img src="assets/images/meteo.png">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto col-center">
                        Méteo
                        <button style="margin-left: 1em" class="btn btn-dark" (click)="meteoLink()"><i
                                class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto col-center">
                        <img src="assets/images/alerte.png">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto col-center">
                        A prevoir
                        <button style="margin-left: 1em" class="btn btn-dark" (click)="aprevoirLink()"><i
                                class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto col-center">
                        <img src="assets/images/jardin.png">
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto col-center">
                        Mon jardin
                        <button style="margin-left: 1em" class="btn btn-dark" (click)="jardinLink()"><i
                                class="fas fa-chevron-right"></i></button>
                    </div>
                </div>                
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto col-center">
                        <img src="assets/images/profil.png">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto col-center">
                        Mon profil
                        <button style="margin-left: 1em" class="btn btn-dark" (click)="profileLink()"><i
                                class="fas fa-chevron-right"></i></button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>